.item-tile {
  width: 60px;
  height: 70px;
  background: #D8CCB4;
  border: 1px solid #8E8068;
  padding: 3px;
  color: #9B6039;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.tile-icon {
  image-rendering: pixelated;
}

.tile-name {
  width: 100%;
}

.wiki-button {
  float: right;
  width: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 4px;
}

.wiki-button:hover {
  transform: scale(1.10);
  box-shadow: 0 0 0 2px #8E8068;
}
